@keyframes animacion_test{
    from{
        background-color: #dd9900;
    }
    to{
        background-color: #aaff11;
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@keyframes label-animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(60, 190, 80);
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid rgb(0, 171, 255);
    border-top: 16px solid rgb(255, 115, 0);
    border-radius: 50%;
    animation: girar 2s ease-in-out infinite;
}

.loader-doble{
    width: 64px;
    height: 64px;
    border: 16px solid rgb(36, 33, 212);
    border-top: 16px solid rgb(227, 247, 52);
    border-bottom: 16px solid rgb(255, 150, 89);
    border-radius: 50%;
    animation: girar 2s ease-in-out infinite;
}

.animada{
    width: 100%;
    background-color: #dd9900;
    color: white;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion_test 2s alternate infinite;
}